<% provide(:title, "Result of #{@lesson_result.category.name}")%>	
	 <table border="1" width="50%" align="center">
      <caption><h1><%=@lesson_result.category.name%> Result <%=@lesson_result.result%>/<%=@lesson_result.lesson_words.count%></h1></caption>
      <tr width="20%">
        <th>Word</th>
        <th>Your answer(in italic)</th>                  
        <th>Result</th>
      </tr>
      <%@lesson_result.lesson_words.each do |lesson_word|%>	  
        <tr>                  
          <td><b><%=lesson_word.word.content%></b></td>
          <td><i><%=lesson_word.word_answer.content%></i></td>                  
          <td><div class="<%=lesson_word.word_answer.correct? ? "glyphicon glyphicon-ok success-sign" : "glyphicon glyphicon-remove danger-sign"%>"></div></td>
        </tr>
      <% end %>   
    </table> 
    <br/>
    <center><%= link_to "Start Next Lesson", categories_path, class: "btn btn-primary" %></center>