<% @categories.each do |category| %>
  <div class = "">  
    <h3><%= category.name %></h3>    
    <p>
      <i>
        You have learned <%= current_user.max_result current_user.lessons.where(id:category.id) %> / <%=category.words.count%> words
      </i>
    </p>    
    <%words=category.words%>
    <% words.each do |word|%>    
      <p><%= word.content %></p>
    <%end%>
  </div>    
  <%= link_to "Start", "#", class: "" %>    
<% end %>