<% @categories.each do |category| %>
  <div class = "">  
    <h3><%= category.name %></h3>    
    <p>
      <i>        
        You have learned <%= current_user.lesson_words(category).count %> / <%=category.words.count%> words
      </i>
    </p>    
    <%words=category.words%>
    <% words.each do |word|%>    
      <p><%= word.content %></p>
    <%end%>
  </div>    
  <%= link_to "Start", new_lesson_path(category_id: category.id), class: "" %>    
<% end %>