<!DOCTYPE html>
<html>
<head>	
  <title>
  	<%#Show the title when call%>
  	<%= yield(:title) %> | E-Learning System
  	</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%#Looking for file  name _shim.html.erb at app.view/layouts%>
  <%=render "layouts/shim"%>
</head>
<body>
<%#Looking for file  name _header.html.erb at app.view/layouts%>
<%=render("layouts/header")%>

<div class="container">
  <%#get the value in flash and assign each of them in message_type and message%>
  <%flash.each do |message_type, message|%>
    <%#use the rails content_tag to show the flash message%>
    <%=content_tag(:div, message, class: "alert alert-#{message_type}")%>
  <%end%>
  <%#call the file which root pointing to%>
  <%= yield %>
  <%#show the debug if on the development enviroment%>
  <%= debug(params) if Rails.env.development? %>
  <%#Looking for file  name _footer.html.erb at app.view/layouts%>
  <%= render "layouts/footer" %>
</div>

</body>
</html>
